<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roos AI | Home</title>
    <link rel="stylesheet" href="{% static 'myapp/css/sidebar.css' %}">
    <link href="https://unpkg.com/lucide-static@latest/font/lucide.css" rel="stylesheet">
</head>
<body>
{% include '../Common/menu.html' %}
    <!-- Contenu principal -->
     <div class="main-content">
        <h1>Votre </h1>
        <p>Ceci est votre tableau de bord connecté à Supabase.</p>
    </div>
    <!-- Script -->
     {% include 'myapp/Common/script.html' %}
</body>
</html>